body {
  background-color: #F1f5f8;
  font-family: 'Trispace', sans-serif;
  margin: 0;
}

h1, h2{
  font-size: 1rem;
}

h1, span {
  color: #55CEED;
}

#nav {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.nav-right {
  display: flex;
  gap: 30px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.wrapper {
  background-color: #000;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 400px;
}

.background-color-text {
  color: #fff;
  font-size: 1.5rem;
}
