body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem
}

h1 {
  color: #49a6e9;
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

ul {
  padding-left: 0;
}

li {
  display: inline;
  font-size: 1rem;
  font-weight: 600;
  list-style-type: none;
}

li:first-child {
  margin-right: 20px;
}

span {
  color: #49a6e9;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #49a6e9;
}

#nav {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -15px 30px;
}

.switch {
  background-color: inherit;
  border: none;
}

.switch:hover {
  color: #49a6e9;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.wrapper {
  background-color: rgb(0,0,0,0.9);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.background-color-text {
  color: #fff;
  font-size: 2rem;
  margin: 15px
}

#btn {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  height: 45px;
  width: 140px;
}

#btn:hover {
  background-color: #000;
  color: #fff;
  transition: background-color 500ms linear;
}
